.card {
  padding: 10px 10px 2px 10px;
  border-radius: 3px;
  box-shadow: 0 0px 13px 0 #6b6d76;
  background-color: #fff;
  margin: 10px 0;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 0px 8px 4px white;
}
.card img {
  height: 300px;
  border-radius: 20px;
}
.bottom-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
.add-btn {
  cursor: pointer;
  height: 30px;
  width: 30px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: #6b6d76;
  align-items: center;
  justify-content: center;
}
.add-btn:hover {
  box-shadow: 0 0 4px 1px #fff;
  background-color: #a69888;
}
.add-btn img {
  width: 30px;
  height: 30px;
}
.checkoutCard {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  border-bottom: 8px lightpink dotted double;
}
.react-responsive-modal-modal {
  opacity: 0.9;
  border-radius: 5px;
}
.basket img {
  width: 70px;
  position: relative;
  right: 40px;
}
